# Configuración de Base de Datos
DB_ENV=local  # 'local' o 'remote'

# Base de Datos Local
DB_HOST_LOCAL=localhost
DB_PORT_LOCAL=5432
DB_NAME_LOCAL=sisvic_db
DB_USER_LOCAL=postgres
DB_PASS_LOCAL=30991946

# Base de Datos Remota (Neon)
DB_HOST_REMOTE=ep-still-fog-ankc6xyx.c-6.us-east-1.aws.neon.tech
DB_PORT_REMOTE=5432
DB_NAME_REMOTE=neondb
DB_USER_REMOTE=neondb_owner
DB_PASS_REMOTE=npg_2cKVEyxNpmU0
DB_URI_REMOTE=postgresql://neondb_owner:npg_2cKVEyxNpmU0@ep-still-fog-ankc6xyx-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Configuración del Servidor
PORT=3000
NODE_ENV=development

# JWT Secret
JWT_SECRET=your_super_secret_jwt_key_here

# Otras configuraciones si es necesario